* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Memastikan konten memenuhi layar */
}
.bg-pink-50 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.input-field:focus + label {
  top: -1rem;
  left: 0;
  font-size: 0.9rem;
  color: #d84b7e;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.swiper-pagination {
  display: block;
  margin-bottom: -30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d1c4e9;
  border-radius: 50%;
  opacity: 0.8;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #6b46c1;
  transform: scale(1.3);
}

.swiper-slide {
  margin: 0 !important; /* Hapus margin tambahan */
  padding: 0; /* Hapus padding tambahan */
}

main {
  min-height: calc(100vh - 200px); /* Kurangi tinggi footer */
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* jarak antar gambar */
}
.group:hover .group-hover\:scale-110 {
  transform: scale(1.1);
}
